#app-header {
    position: relative;
    padding-top: 15px;
    padding-left: 15px;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    /* justify-content: space-between; */
    background-color: white;
} 

#app-header > .child {
    position: absolute;
    right: 300px;
    margin-left: 50px;
    justify-content: space-between;
}

#user-header {
    position: relative;
    margin-top: -25px
}